@import 'bourbon/bourbon';
@import 'base/variables';
@import 'base/typography';

@import 'layout/header';
@import 'layout/main';

@import 'components/player';
@import 'components/song-list';
@import 'components/input';
@import 'components/overlay';


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}