input {
	outline: none;
	&.search {
		width: 100%;
		max-width: 600px;
		height: 40px;
		border: 1px solid rgba(50,50,50,0.2);
		background: rgba(25,25,25,1.0);
		padding: 0 0 0 10px;
		font-size: 20px;
		color: white;
	}
}